@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("123.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #100505;
}

.todo-container {
    text-align: center;
    margin: 30px auto;
    max-width: 500px;
    background-color: rgba(176, 184, 16, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-container {
    text-align: center;
    margin: 30px auto;
    max-width: 500px;
    background-color: rgba(33, 218, 203, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    width: 90%;
    border: 1px solid #d53b3b;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #16d45c;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d7e421;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: darkred;
}

h2 {
    font-size: 24px;
    color: #160606;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
    width: 50%;
    margin-top: 10px;
}
.nav {
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(240, 238, 238);
}
.nav-items {
        width: 40%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;color:red;

}
.header {
    position: relative;
    min-height: 60vh;
    background: url("123.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(20, 6, 6);
    font-weight: bold;
  }
a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
}


a:hover {
    text-decoration: underline; 
}
